/*Global start*/

body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    padding: 0;
}

.input:active {
    outline: 0;
    outline-offset: 0;
}

section:not(:first-child) {
    padding: 96px 0 96px 0;
}

.container { 
    max-width: 320px;
    padding: 0 16px 0 16px;
    margin: 0 auto;
    }

.team_title, .item_title, .portfolio_title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.11;
}

.portfolio_list_title, .team_item_title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.footer_content, .team_item_content {
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/*Global end*/

/* Header start*/

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_block {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    margin: 0 auto;
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 17px 0;
    display: block;
}

.logo a {
    color: #4d5ae5;
}

.logo_first_word, .header_menu a {
    color: #2E2F42;
}

.header_menu, .header_contact {
    display: none;
}

.mob_menu_open {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.backdrop_mob_menu {
    background-color: #fff;
    position: fixed;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_menu_conteiner {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #FFFFFF;
    padding: 72px 16px 40px 16px;
    border: none;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob_menu_nav {
    margin-bottom: auto;
}

.mob_menu {
    display: flex;
    gap: 40px;
    font-style: normal;
    flex-direction: column;
}

.mob_menu_item {
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-size: 36px;
}

.mod-link.catch, .mob_menu_link.catch {
    color: #404bbf;
}

.mob_menu_item a {
    color: #2E2F42;
}

.link, .mod-link, .contact_link, .mob_menu_link {
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob_menu_item a:hover, .mob_menu_item a:focus, .mob_menu_item a:active, .mob_menu_contact a:hover, .mob_menu_contact a:focus, .mob_menu_contact a:active {
    color: #404BBF;
}

.mob_menu_contact {
    margin-bottom: 48px;
}

.mob_menu_contact a {
    color: #434455;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-size: 20px;
}

.mob_menu_contact_list {
    display: flex;
    gap: 24px;
    font-style: normal;
    flex-direction: column;
}

.mob_menu_social_conteiner {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mob_menu_social_item {
    width: 40px;
    height: 40px;
}

.mob_menu_social_link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border:none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob_menu_social_link:hover, .mob_menu_social_link:focus, .mob_menu_social_link a:active {
    background-color: #404BBF;
    cursor: pointer;
}

.mob_menu_social {
    fill: #FFFFFF;
}

/* Header end*/

/*preview section start*/

.preview {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/phone/1x/preview_ph_1x.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
    padding: 0;
    padding: 72px 0 72px;
    margin: 0 auto;
}

@media (min-resolution: 192dpi) {
    .preview {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/phone/2x/preview_ph_2x.jpg);
    }
}

.preview_title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    max-width: 215px;
    margin: 0 auto;
}

.preview_button {
    display: block;
    background-color: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 72px auto 0 auto;
}

.preview_button:hover, .preview_button:focus, .preview_button:active {
    background-color: #404BBF;
    cursor: pointer;
}

/*preview section end*/

/*advantages section start*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.advantages_list, .team_list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.team_list {
    max-width: 264px;
    justify-content: center;
}
.advantages_item {
    width: 100%;
}

.icon_conteiner {
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin: 0;
    height: 112px;
    display: none;
    align-items: center;
    justify-content: center;
}

.item_title {
    margin-bottom: 8px;
    text-align: center;
}

.item_content {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/*advantages section end*/

/*team section start*/

.team {
    background-color: #F4F4FD;
}

.team_title {
    margin-bottom: 72px;
}

.team_list_item {
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team_content {
    padding: 32px 16px;
}

.team_item_title, .team_item_content  {
    text-align: center;
    margin-bottom: 8px;
}

.team_social_conteiner {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team_social_item {
    width: 40px;
    height: 40px;
}

.team_social_link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.team_social_link:hover, .team_social_link:focus {
    background-color: #404bbf;
}

.team_social {
    fill: #f4f4fd;
}

/*team section end*/

/*portfolio section start*/

.portfolio_title {
    margin-bottom: 72px;
}

.portfolio_list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio_item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_item:hover, .portfolio_item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.porfolio_anim {
    position: relative;
    overflow: hidden;
}

.portfolio_anim_content {
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    background-color: #4d5ae5;
    text-align: center;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_item:hover .portfolio_anim_content, .portfolio_item:focus .portfolio_anim_content {
    transform: translateY(0%);
}

.portfolio_list_title {
    margin-bottom: 8px;
}

.portfolio_item {
    width: 288px;
}

.portfolio_content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/*portfolio section end*/

/*footer section start*/

.footer, .footer .logo_first_word {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer{
    padding: 96px 0 96px
}

.footer_block {
    display: flex;
    flex-direction: column;
}

.logo_foter {
    display: block;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
    text-align: center;
}

.footer_content {
    max-width: 288px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.footer_disription {
    margin-bottom: 72px;
}

.footer_social_conteiner {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer_social_item {
    width: 40px;
    height: 40px;
}

.footer_social_link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_sunscrube_icon {
    margin-left: 16px;
}

.footer_social_link:hover, .footer_social_link:focus {
    background-color: #31d0aa;
}

.footer_social, .footer_sunscrube_icon {
    fill: #f4f4fd;
}

.footer_social_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.footer_social_media_conteiner {
    margin-bottom: 72px;
}

.footer_sunscrube {
    color: #FFFFFF;
    text-align: center;
}

.footer_sunscrube_title {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer_sunscrube_form {
    border: none;
    display: flex;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.footer_sunscrube_input_label {
    display: flex;
    flex-direction: column;
}

.footer_sunscrube_input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 288px;
    height: 40px;
    padding: 8px 0 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
}

.footer_sunscrube_input::placeholder {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    
}

.footer_sunscrube_button {
    color: #FFFFFF;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    max-width: 165px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.footer_sunscrube_button:hover, .footer_sunscrube_button:focus {
    background-color: #31d0aa;
}

/*footer section end*/

/*Modal form start*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal_conteiner {
    width: 288px;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #FCFCFC;
    padding: 72px 16px 24px 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close:hover, .modal_close:focus {
    background-color: #404BBF;
    border: none;
}

.modal_close_icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close:hover > .modal_close_icon, 
.modal_close:focus > .modal_close_icon {
    fill: #FFFFFF;
}

.modal_form {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
}

.modal_title {
    margin: 0 0 16px;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal_form_item_conteiner {
    margin-bottom: 8px;
}

.modal_form_imput_conteiner {
    position: relative;
}

.modal_imput_icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_input {
    outline: transparent;
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    border: 1px solid rgba(46,47,66, 0.40);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_input:focus {
    border-color: #4D5AE5;
}

.modal_form_input:focus + .modal_imput_icon {
    fill: #4D5AE5;
}

.modal_form_textarea_container {
    margin-bottom: 16px;
}

.modal_form_textarea {
    display: block;
    outline: transparent;
    width: 100%;
    padding: 8px 16px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#checkbox_label {
    margin-bottom: 0px;
    display: flex;
}

.modal_checkbox_item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.modal_form_label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}


.checkbox_click {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_chekbox:checked + .modal_form_label span {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.checkbox_link {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal_form_submit {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 0 16px;
    border: none;
    border-radius: 4px;
    margin: 0 auto 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_submit:hover, .modal_form_submit:focus, .modal_form_submit:active {
    background-color: #404BBF;
}

/*Modal form end*/

