body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.input:active {
    outline: 0;
    outline-offset: 0;
}

section:not(:first-child) {
    padding: 120px 0 120px 0;
}

.container { 
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    }

.advantages_title, .team_title, .portfolio_title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.11;
}

.item_title, .portfolio_list_title, .team_item_title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.item_content, .footer_content, .team_item_content {
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Header */

.header_container {
    display: flex;
    align-items: center;
}

.header_block {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo a {
    color: #4d5ae5;
}

.logo_first_word, .header_menu a {
    color: #2E2F42;
}


.header_nav {
    display: flex;
    font-style: normal;
    align-items: center;
}

.header_nav:not(:first-child) {
    gap: 40px;
}

.header_menu {
    display: flex;
    gap: 40px;
    font-style: normal;
    align-items: center;
}

.header_menu_item {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0 24px;
}

.link.catch {
    position: relative;
    color: #404bbf;
    padding-bottom: 27px;
}

.link.catch::after {
    content: '';
    width: 100%;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    display: block;
}

.link, .contact_link {
   /* padding: 24px 0 24px; /*It won't work without display: block; ))))*/
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_contact a {
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.header_contact_list {
    display: flex;
    gap: 40px;
    font-style: normal;
}

.header_contact {
    margin-left: 332px;
}

.header_menu a:hover, .header_menu a:focus, .header_contact a:hover, .header_contact a:focus {
    color: #404BBF;
}

/*preview section*/

.preview {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/preview.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
    padding: 0;
    padding: 188px 0 188px;
    margin: 0 auto;
}

.preview_title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 1.12px;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
}

.preview_button {
    display: block;
    background-color: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    margin: 48px auto 0 auto;
    padding: 15px 32px 15px 32px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.preview_button:hover, .preview_button:focus {
    background-color: #404BBF;
    cursor: pointer;
}
/*advantages section*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.advantages_list, .team_list {
    display: flex;
    gap: 24px;
}

.advantages_item {
    width: calc((100% - 72px) / 4);
}

.icon_conteiner {
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin: 0;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_title, .icon_conteiner {
    margin-bottom: 8px;
}

/*team section*/

.team_list {
    display: flex;
    gap: 24px;
}

.team {
    background-color: #F4F4FD;
}

.team_title {
    margin-bottom: 72px;
}

.team_list_item {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team_content {
    padding: 32px 0 32px
}

.team_item_title, .team_item_content  {
    text-align: center;
    margin-bottom: 8px;
}

.team_social_conteiner {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team_social_item {
    width: 40px;
    height: 40px;
}

.team_social_link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.team_social_link:hover, .team_social_link:focus {
    /*background-color: #31d0aa;*/
    background-color: #404bbf;
}

.team_social {
    fill: #f4f4fd;
}

/*portfolio section*/

.portfolio_title {
    margin-bottom: 72px;
}

.portfolio_list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio_item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_item:hover, .portfolio_item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.porfolio_anim {
    position: relative;
    overflow: hidden;
}

.portfolio_anim_content {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    background-color: #4d5ae5;
    text-align: center;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_item:hover .portfolio_anim_content, .portfolio_item:focus .portfolio_anim_content {
    transform: translateY(0%);
}

.portfolio_anim_content { 
    display: block;
}

.portfolio_list_title {
    margin-bottom: 8px;
}

.portfolio_item {
    width: calc((100% - 48px) / 3);
}

.portfolio_content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/*footer section*/
.footer, .footer .logo_first_word {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer{
    padding: 100px 0 100px
}

.foooter_conteiner {
    display: flex;
    align-items: baseline
}

.logo_foter {
    display: inline-block;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer_content {
    max-width: 264px;
}

.footer_disription {
    margin-right: 120px;
}

.footer_social_conteiner {
    display: flex;
    gap: 16px;
    justify-content: center;
    /*margin-right: 80px;*/
}

.footer_social_item {
    width: 40px;
    height: 40px;
}

.footer_social_link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_sunscrube_icon {
    margin-left: 16px;
}

.footer_social_link:hover, .footer_social_link:focus {
    background-color: #31d0aa;
}

.footer_social, .footer_sunscrube_icon {
    fill: #f4f4fd;
}

.footer_social_media_conteiner {
    margin-right: 80px;
}

.footer_social_title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer_sunscrube {
    color: #FFFFFF;
}

.footer_sunscrube_title {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer_sunscrube_form {
    border: none;
    display: flex;
    gap: 24px;
}

.footer_sunscrube_input_label {
    display: flex;
    flex-direction: column;
}

.footer_sunscrube_input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 264px;
    height: 40px;
    padding: 8px 0 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer_sunscrube_input::placeholder {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 12px;
    
}

.footer_sunscrube_button {
    color: #FFFFFF;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px 8px 24px;
    min-width: 165px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.footer_sunscrube_button:hover, .footer_sunscrube_button:focus {
    background-color: #31d0aa;
}

/* Modal form */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal_conteiner {
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: #FCFCFC;
    padding: 72px 24px 24px 24px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close:hover, .modal_close:focus {
    background-color: #404BBF;
    border: none;
}

.modal_close_icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close:hover > .modal_close_icon, 
.modal_close:focus > .modal_close_icon {
    fill: #FFFFFF;
}

.modal_form {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    /*margin-bottom: 8px;*/
}

.modal_title {
    margin: 0 0 16px;
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal_form_item_conteiner {
    margin-bottom: 8px;
}

.modal_form_imput_conteiner {
    position: relative;
}

.modal_imput_icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_input {
    outline: transparent;
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    border: 1px solid rgba(46,47,66, 0.40);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_input:focus {
    border-color: #4D5AE5;
}

.modal_form_input:focus + .modal_imput_icon {
    fill: #4D5AE5;
}

.modal_form_textarea_container {
    margin-bottom: 16px;
}

.modal_form_textarea {
    padding: 8px 16px;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;

}

#checkbox_label {
    margin-bottom: 0px;
}

.modal_checkbox_item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

.modal_form_label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}


.checkbox_click {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_chekbox:checked + .modal_form_label span {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.checkbox_link {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal_form_submit {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 0 16px;
    border: none;
    border-radius: 4px;
    margin: 0 auto 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_submit:hover, .modal_form_submit:focus, .modal_form_submit:active {
    background-color: #404BBF;
}